.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cart1 {

 
  margin: 50px;
  color: rgb(151, 151, 151);

 
}

.cart2 {
  width: 320px;
  padding: 10px;
  border: 2px solid grey;
  margin-right: 2%;
  /* box-shadow: 10px 10px 5px greenyellow; */
  width: 300px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 2px 3px 3px grey;
  text-align: center;
  margin-top: 2%;
 
}

.orders{
  display: flex;
}
